################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEfCoreApp/.vs/DbOperationsWithEfCoreApp
/StudyHub/.vs
/StudyHub/StudyHub/appsettings.json
